
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 39rem;
}.comunity-page-iEL {
  width: 100%;
  height: 93.4rem;
  position: relative;
  overflow: hidden;
  background-color: #ffffff;

  .big-background-in-frame-PrG {
    background-color: #232f34;
    width: 39.2rem;
    height: 88.6rem;
    position: absolute;
    left: 0;
    top: 0;
  }
  .rectangle-35-vbJ {
    position: absolute;
    left: 0;
    top: 18.4rem;
    object-fit: cover;
    vertical-align: top;
    width: 39rem;
    height: 19.4rem;
  }
  .ellipse-49-f36 {
    position: absolute;
    top: 4.9rem;
    background-size: 100% 100%;
    border-radius: 2.25rem;
    width: 4.5rem;
    height: 4.5rem;
    background-position: center;
    background-image: url('REPLACE_IMAGE:1732224ae1bb9adf5e9108e988cf9ed8cd411de2');
    left: 2.7rem;
    background-repeat: no-repeat;
  }
  .topic-cardiovascular-KtL {
    position: absolute;
    color: #ffffff;
    width: 10.2rem;
    height: 1.3rem;
    left: 9rem;
    top: 5.7rem;
    display: flex;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.2125;
    font-family: Inter, 'Source Sans Pro';
    white-space: nowrap;
  }
  .user-phu-doan-ooW {
    position: absolute;
    left: 9.1rem;
    top: 7.9rem;
    display: flex;
    color: #ffffff;
    font-family: Inter, 'Source Sans Pro';
    width: 7.4rem;
    height: 1.3rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.2125;
    white-space: nowrap;
  }
  .sometimes-i-have-an-argument-with-my-teammate-and-i-feel-my-heart-feels-like-its-skipping-a-beat-is-this-dangerous-JkG {
    font-size: 1.0323rem;
    font-weight: 400;
    color: #ffffff;
    font-family: Inter, 'Source Sans Pro';
    height: 2.6rem;
    position: absolute;
    top: 10rem;
    display: flex;
    width: 31.2rem;
    left: 3.4rem;
    line-height: 1.2125;
  }
  .rectangle-36-9Vz {
    border-radius: 3rem;
    width: 10.4rem;
    height: 2.5rem;
    position: absolute;
    left: 3.4rem;
    top: 13.8rem;
    background-color: #0019ff;
  }
  .amateur-unedited-58k {
    white-space: nowrap;
    top: 14.4rem;
    font-weight: 400;
    line-height: 1.2125;
    left: 4.2rem;
    display: flex;
    font-size: 1.0323rem;
    color: #fffcfc;
    font-family: Inter, 'Source Sans Pro';
    width: 9rem;
    height: 1.3rem;
    position: absolute;
  }
  .rectangle-37-nJ4 {
    top: 39.9rem;
    background-color: #fffcfc;
    width: 39rem;
    height: 5.3rem;
    position: absolute;
    left: 0;
  }
  .commentlight-ihW {
    position: absolute;
    left: 14.4rem;
    top: 41.3rem;
    object-fit: contain;
    vertical-align: top;
    width: 2.4rem;
    height: 2.4rem;
  }
  .transferlongdown-cnt {
    width: 2.4rem;
    height: 2.4rem;
    position: absolute;
    left: 8.6rem;
    top: 41.3rem;
  }
  .vector-82-LTz {
    object-fit: contain;
    vertical-align: top;
    width: 1.2rem;
    height: 2rem;
    position: absolute;
    left: 7.4rem;
    top: 41.6rem;
  }
  .transferlongtop-THi {
    width: 2.4rem;
    height: 2.4rem;
    position: absolute;
    left: 1.5rem;
    top: 41.3rem;
    object-fit: contain;
    vertical-align: top;
  }
  .rectangle-38-zHe {
    left: 0;
    top: 48.1386rem;
    background-color: #ffffff;
    width: 39rem;
    height: 28.1085rem;
    position: absolute;
  }
  .backlight-izL {
    position: absolute;
    left: 28.9rem;
    top: 71.7533rem;
    object-fit: contain;
    vertical-align: top;
    width: 1.6rem;
    height: 1.4386rem;
  }
  .h-TBE {
    font-size: 1rem;
    font-weight: 400;
    width: 1.3rem;
    position: absolute;
    top: 69.58rem;
    display: flex;
    font-family: Inter, 'Source Sans Pro';
    white-space: nowrap;
    height: 1.3rem;
    left: 13.9rem;
    line-height: 1.2125;
    color: #8e8888;
  }
  .h-AbS {
    display: flex;
    font-size: 1rem;
    font-weight: 400;
    font-family: Inter, 'Source Sans Pro';
    width: 1.3rem;
    position: absolute;
    left: 12.9rem;
    top: 65.3608rem;
    height: 1.3rem;
    line-height: 1.2125;
    color: #8e8888;
    white-space: nowrap;
  }
  .dat-dao-t1e {
    width: 3.9rem;
    height: 1.3rem;
    display: flex;
    font-weight: 400;
    line-height: 1.2125;
    font-family: Inter, 'Source Sans Pro';
    white-space: nowrap;
    position: absolute;
    left: 7.3rem;
    top: 65.3608rem;
    font-size: 1rem;
    color: #000000;
  }
  .mai-anh-aQG {
    line-height: 1.2125;
    color: #000000;
    width: 3.9rem;
    height: 1.3rem;
    position: absolute;
    left: 8.3rem;
    top: 69.5586rem;
    font-weight: 400;
    white-space: nowrap;
    display: flex;
    font-size: 1rem;
    font-family: Inter, 'Source Sans Pro';
  }
  .transferlongtop-SxG {
    object-fit: contain;
    vertical-align: top;
    width: 0.85rem;
    height: 1.4893rem;
    position: absolute;
    left: 12.425rem;
    top: 50.0337rem;
  }
  .ellipse-51-xvc {
    width: 2.1rem;
    height: 2.3239rem;
    position: absolute;
    left: 4.2rem;
    top: 64.8488rem;
    object-fit: contain;
    vertical-align: top;
  }
  .ellipse-52-JDn {
    position: absolute;
    left: 5.3rem;
    top: 69.386rem;
    object-fit: contain;
    vertical-align: top;
    width: 2.1rem;
    height: 2.3239rem;
  }
  .backlight-2vU {
    position: absolute;
    left: 23.2rem;
    top: 63.1889rem;
    object-fit: contain;
    vertical-align: top;
    width: 2.4rem;
    height: 2.6559rem;
  }
  .backlight-mdA {
    top: 68.1533rem;
    object-fit: contain;
    vertical-align: top;
    width: 1.6rem;
    height: 1.4386rem;
    position: absolute;
    left: 26.3rem;
  }
  .minh-duc-Jd6 {
    font-weight: 400;
    color: #000000;
    font-family: Inter, 'Source Sans Pro';
    width: 4.5rem;
    position: absolute;
    display: flex;
    font-size: 1rem;
    line-height: 1.2125;
    white-space: nowrap;
    height: 1.3rem;
    left: 6.3rem;
    top: 50.3105rem;
  }
  .ellipse-50-Qg8 {
    height: 2.1rem;
    top: 50.0199rem;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: center;
    width: 2.1rem;
    position: absolute;
    left: 3.3rem;
    background-image: url('REPLACE_IMAGE:681a2dee8684e8e044f119d3afdb55b9801b1943');
    border-radius: 1.05rem;
  }
  .item-280-Ko6 {
    font-family: Inter, 'Source Sans Pro';
    width: 2rem;
    height: 1.3rem;
    left: 4.2rem;
    top: 41.9rem;
    display: flex;
    font-size: 1.0323rem;
    color: #05ff00;
    position: absolute;
    font-weight: 400;
    line-height: 1.2125;
    white-space: nowrap;
  }
  .item-102-cGQ {
    height: 1.3rem;
    position: absolute;
    line-height: 1.2125;
    font-family: Inter, 'Source Sans Pro';
    font-weight: 400;
    color: #000000;
    white-space: nowrap;
    width: 1.8rem;
    left: 18.5rem;
    top: 41.85rem;
    display: flex;
    font-size: 1.0323rem;
  }
  .h-6SU {
    font-family: Inter, 'Source Sans Pro';
    white-space: nowrap;
    height: 1.3rem;
    left: 16rem;
    top: 50.1999rem;
    font-weight: 400;
    color: #8e8888;
    width: 1.3rem;
    position: absolute;
    display: flex;
    font-size: 1rem;
    line-height: 1.2125;
  }
  .i-had-this-condition-about-one-year-ago-probably-this-is-not-a-too-bad-condition-because-after-that-my-life-is-completely-normal-and-my-doctor-said-i-dont-have-to-be-too-worry-about-itafter-all-i-think-you-should-see-a-doctor-just-for-in-case-well-i-wish-you-good-luck-after-all--pdN {
    left: 2.7rem;
    font-weight: 400;
    line-height: 1.2125;
    font-family: Inter, 'Source Sans Pro';
    width: 34rem;
    height: 7.3rem;
    position: absolute;
    top: 54.4rem;
    font-size: 1rem;
    color: #000000;
  }
  .line-3-cZE {
    left: 2.7rem;
    top: 64.8488rem;
    background-color: #ac9393;
    width: 0.05rem;
    height: 9.4064rem;
    position: absolute;
  }
  .reply-Yxg {
    white-space: nowrap;
    width: 3.2rem;
    position: absolute;
    font-family: Inter, 'Source Sans Pro';
    font-size: 1.2rem;
    font-weight: 400;
    line-height: 1.2125;
    color: #000000;
    height: 1.5rem;
    left: 25.9rem;
    top: 63.8528rem;
  }
  .item-3-UrL {
    width: 1.3rem;
    left: 13.7rem;
    display: flex;
    line-height: 1.2125;
    white-space: nowrap;
    height: 1.3rem;
    position: absolute;
    top: 50.15rem;
    font-size: 1rem;
    font-weight: 400;
    color: #555555;
    font-family: Inter, 'Source Sans Pro';
  }
  .item-121-C1e {
    top: 63.8882rem;
    font-size: 1.3333rem;
    white-space: nowrap;
    width: 2.1rem;
    height: 1.7rem;
    position: absolute;
    left: 33.5rem;
    font-family: Inter, 'Source Sans Pro';
    display: flex;
    font-weight: 400;
    line-height: 1.2125;
    color: #000000;
  }
  .item-30-Uzk {
    width: 1.7rem;
    position: absolute;
    left: 33.5rem;
    font-size: 1.3333rem;
    color: #000000;
    height: 1.7rem;
    top: 68.314rem;
    display: flex;
    font-weight: 400;
    line-height: 1.2125;
    font-family: Inter, 'Source Sans Pro';
    white-space: nowrap;
  }
  .yesss-im-agree-with-you--NqE {
    position: absolute;
    font-size: 1rem;
    line-height: 1.2125;
    color: #000000;
    font-family: Inter, 'Source Sans Pro';
    white-space: nowrap;
    width: 12.8rem;
    left: 4.2rem;
    top: 67.2rem;
    display: flex;
    font-weight: 400;
    height: 1.3rem;
  }
  .line-4-UtG {
    vertical-align: top;
    width: 0;
    height: 4.4rem;
    position: absolute;
    left: 4.15rem;
    top: 69.85rem;
    object-fit: contain;
  }
  .transferlongtoplight-dWG {
    left: 31.8rem;
    top: 64.0742rem;
    object-fit: contain;
    vertical-align: top;
    width: 1.2rem;
    height: 1.328rem;
    position: absolute;
  }
  .transferlongtoplight-xoS {
    width: 1.08rem;
    height: 1.328rem;
    position: absolute;
    left: 31.8rem;
    top: 68.5rem;
    object-fit: contain;
    vertical-align: top;
  }
  .transferlongdownlight-6ek {
    width: 1.2rem;
    height: 1.328rem;
    position: absolute;
    left: 36rem;
    top: 64.0742rem;
    object-fit: contain;
    vertical-align: top;
  }
  .transferlongdownlight-pak {
    width: 0.6rem;
    height: 1.0513rem;
    position: absolute;
    left: 36.2rem;
    top: 68.6107rem;
    object-fit: contain;
    vertical-align: top;
  }
  .coolllll-xS4 {
    display: flex;
    font-weight: 400;
    white-space: nowrap;
    width: 3.2rem;
    left: 5.4rem;
    top: 72.65rem;
    line-height: 1.2125;
    color: #000000;
    font-family: Inter, 'Source Sans Pro';
    height: 1.3rem;
    position: absolute;
    font-size: 1rem;
  }
  .profile-rec-4V6 {
    border-radius: 4.5rem 4.5rem 0 0;
    width: 39.2rem;
    height: 9.9rem;
    align-items: center;
    background-color: #d9d9d9;
    top: 83.1rem;
    display: flex;
    box-sizing: border-box;
    padding: 1.9rem 2.873rem 1.4rem 2.5rem;
    position: absolute;
    left: 0;

    .auto-group-m6ux-hnx {
      flex-direction: column;
      flex-shrink: 0;
      margin-right: 1.6rem;
      width: 5.2rem;
      height: 100%;
      align-items: flex-end;
      display: flex;

      .auto-group-31rp-qPN {
        height: 4.9661rem;
        flex-shrink: 0;
        margin-bottom: 0.3339rem;
        box-sizing: border-box;
        padding-left: 1rem;
        width: 100%;

        .home-icon-xit {
          object-fit: contain;
          vertical-align: top;
          width: 4.2rem;
          height: 4.2rem;
          cursor: pointer;
          position: relative;
        }
      }
      .home-JGx {
        display: flex;
        font-size: 1rem;
        font-weight: 400;
        color: #000000;
        white-space: nowrap;
        width: 100%;
        align-items: center;
        justify-content: center;
        line-height: 1.2125;
        font-family: Inter, 'Source Sans Pro';
        flex-shrink: 0;
      }
    }
    .auto-group-eadv-EAc {
      flex-direction: column;
      flex-shrink: 0;
      margin: 0.8rem 1.416rem 0rem 0rem;
      align-items: center;
      display: flex;

      .subtract-xcQ {
        object-fit: contain;
        vertical-align: top;
        flex-shrink: 0;
        margin: 0rem 0.398rem 1.198rem 0rem;
        width: 3.3017rem;
        height: 3.3017rem;
      }
      .telemedicine-szG {
        font-family: Inter, 'Source Sans Pro';
        white-space: nowrap;
        justify-content: center;
        font-size: 1rem;
        font-weight: 400;
        line-height: 1.2125;
        color: #000000;
        flex-shrink: 0;
        display: flex;
        align-items: center;
      }
    }
    .auto-group-mhuk-o7E {
      margin: 0.2rem 1.423rem 0rem 0rem;
      align-items: center;
      display: flex;
      flex-direction: column;
      flex-shrink: 0;

      .medical-test-icon-hiQ {
        cursor: pointer;
        position: relative;
        object-fit: contain;
        vertical-align: top;
        flex-shrink: 0;
        margin: 0rem 0rem 1.1rem 0.069rem;
        width: 4rem;
        height: 4rem;
      }
      .medical-test-aGQ {
        display: flex;
        justify-content: center;
        line-height: 1.2125;
        color: #000000;
        font-family: Inter, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        align-items: center;
        font-size: 1rem;
        font-weight: 400;
      }
    }
    .auto-group-7eug-VuA {
      flex-direction: column;
      flex-shrink: 0;
      margin: 0.933rem 3.279rem 0rem 0rem;
      align-items: center;
      display: flex;

      .community-icon-E64 {
        object-fit: contain;
        vertical-align: top;
        flex-shrink: 0;
        margin: 0rem 0.078rem 2.117rem 0rem;
        width: 2.4684rem;
        height: 2.25rem;
        position: relative;
      }
      .community-9Tv {
        color: #000000;
        white-space: nowrap;
        flex-shrink: 0;
        display: flex;
        justify-content: center;
        font-size: 1rem;
        line-height: 1.2125;
        align-items: center;
        font-weight: 400;
        font-family: Inter, 'Source Sans Pro';
      }
    }
    .auto-group-bayy-5Ma {
      flex-direction: column;
      flex-shrink: 0;
      margin-top: 0.8rem;
      align-items: center;
      display: flex;

      .usercicrle-RwE {
        margin: 0rem 0.002rem 1.333rem 0rem;
        width: 3.1072rem;
        height: 3.1667rem;
        position: relative;
        object-fit: contain;
        vertical-align: top;
        flex-shrink: 0;
      }
      .profile-Z1r {
        font-weight: 400;
        font-family: Inter, 'Source Sans Pro';
        flex-shrink: 0;
        margin-left: 0.0096rem;
        align-items: center;
        justify-content: center;
        font-size: 1rem;
        line-height: 1.2125;
        color: #000000;
        white-space: nowrap;
        display: flex;
      }
    }
  }
}
