
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 39rem;
}.gene-include-page-F5a {
  background-color: #232f34;
  width: 100%;
  height: 84.4rem;
  position: relative;
  overflow: hidden;
  box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);

  .rectangle-4165-Zc4 {
    background-color: #d9d9d9;
    width: 39.2rem;
    height: 41rem;
    position: absolute;
    left: 0;
    top: 43.4rem;
  }
  .big-background-in-frame-tuE {
    position: absolute;
    left: 0;
    top: 0;
    background-color: rgba(0, 0, 0, 0.8700000048);
    width: 39.2rem;
    height: 84.4rem;
  }
  .rectangle-4164-RPN {
    top: 0;
    object-fit: cover;
    vertical-align: top;
    width: 39rem;
    height: 45.9rem;
    position: absolute;
    left: 0;
  }
  .upload-your-gene-report-A64 {
    font-weight: 400;
    color: #ffffff;
    font-family: Inter, 'Source Sans Pro';
    height: 14.6rem;
    position: absolute;
    font-size: 4rem;
    display: flex;
    line-height: 1.2125;
    width: 21.9rem;
    left: 2.5rem;
    top: 6.65rem;
  }
  .rectangle-4166-dkL {
    left: 0;
    top: 41.8rem;
    background-color: #232f34;
    border-radius: 3rem 3rem 0 0;
    width: 39rem;
    height: 42.6rem;
    position: absolute;
  }
  .add-a-file-group-MwE {
    flex-direction: column;
    width: 18rem;
    height: 22.9rem;
    position: absolute;
    left: 10.6rem;
    top: 47.1rem;
    align-items: center;
    display: flex;

    .auto-group-zunl-gTi {
      position: relative;
      object-fit: contain;
      vertical-align: top;
      flex-shrink: 0;
      margin-bottom: 2.2rem;
      width: 18rem;
      height: 17.9rem;
    }
    .auto-group-ddv2-NrL {
      border-radius: 3rem;
      box-sizing: border-box;
      display: flex;
      align-items: center;
      background-color: #d9d9d9;
      flex-shrink: 0;
      margin: 0rem 0.5rem 0rem 0.3rem;
      padding: 0.4rem 3.9rem 0.4rem 3.482rem;
      width: calc(100% - 0.8rem);

      .tray-arrow-up-TMz {
        width: 1.7365rem;
        height: 1.44rem;
        object-fit: contain;
        vertical-align: top;
        flex-shrink: 0;
        margin: 0rem 0.882rem 0.08rem 0rem;
      }
      .add-a-file-nQG {
        display: flex;
        font-size: 1.6rem;
        line-height: 1.2125;
        font-family: Inter, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        align-items: center;
        justify-content: center;
        font-weight: 500;
        color: #000000;
      }
    }
  }
  .profile-rec-Hrp {
    padding: 1.9rem 2.85rem 1.4rem 2.487rem;
    height: 9.9rem;
    position: absolute;
    align-items: center;
    box-sizing: border-box;
    left: 0;
    top: 75.1rem;
    display: flex;
    background-color: #d9d9d9;
    border-radius: 4.5rem 4.5rem 0 0;
    width: 39rem;

    .auto-group-nd7e-zWL {
      align-items: flex-end;
      display: flex;
      flex-direction: column;
      flex-shrink: 0;
      margin-right: 1.8893rem;
      width: 5.1734rem;
      height: 100%;

      .auto-group-awpl-L4Q {
        height: 4.9661rem;
        flex-shrink: 0;
        margin-bottom: 0.3339rem;
        box-sizing: border-box;
        padding-left: 0.9949rem;
        width: 100%;

        .home-icon-fcU {
          width: 4.1786rem;
          height: 4.2rem;
          cursor: pointer;
          position: relative;
          object-fit: contain;
          vertical-align: top;
        }
      }
      .home-CcQ {
        font-size: 1rem;
        font-weight: 400;
        line-height: 1.2125;
        font-family: Inter, 'Source Sans Pro';
        white-space: nowrap;
        width: 100%;
        display: flex;
        color: #000000;
        flex-shrink: 0;
        align-items: center;
        justify-content: center;
      }
    }
    .auto-group-lvl4-JQY {
      margin: 0.8rem 1.063rem 0rem 0rem;
      align-items: center;
      display: flex;
      flex-direction: column;
      flex-shrink: 0;

      .subtract-ocC {
        margin: 0rem 1.024rem 1.201rem 0rem;
        width: 3.2864rem;
        height: 3.2985rem;
        object-fit: contain;
        vertical-align: top;
        flex-shrink: 0;
      }
      .telemedicine-KqS {
        align-items: center;
        line-height: 1.2125;
        font-family: Inter, 'Source Sans Pro';
        white-space: nowrap;
        display: flex;
        font-size: 1rem;
        font-weight: 400;
        color: #000000;
        flex-shrink: 0;
        justify-content: center;
      }
    }
    .auto-group-yeyy-eMv {
      flex-direction: column;
      flex-shrink: 0;
      margin: 0.2rem 1.387rem 0rem 0rem;
      align-items: center;
      display: flex;

      .medical-test-icon-PKW {
        object-fit: contain;
        vertical-align: top;
        flex-shrink: 0;
        margin: 0rem 0rem 1.1rem 0.068rem;
        width: 3.9796rem;
        height: 4rem;
        cursor: pointer;
        position: relative;
      }
      .medical-test-6zc {
        align-items: center;
        font-size: 1rem;
        flex-shrink: 0;
        display: flex;
        font-weight: 400;
        line-height: 1.2125;
        color: #000000;
        font-family: Inter, 'Source Sans Pro';
        white-space: nowrap;
        justify-content: center;
      }
    }
    .auto-group-3acq-SHn {
      flex-direction: column;
      flex-shrink: 0;
      margin: 0.1rem 3.248rem 0rem 0rem;
      align-items: center;
      display: flex;

      .community-icon-aun {
        object-fit: contain;
        vertical-align: top;
        flex-shrink: 0;
        margin: 0rem 0.078rem 1.2rem 0rem;
        width: 3.9796rem;
        height: 4rem;
        cursor: pointer;
        position: relative;
      }
      .community-WoS {
        align-items: center;
        font-size: 1rem;
        font-weight: 400;
        white-space: nowrap;
        flex-shrink: 0;
        display: flex;
        justify-content: center;
        line-height: 1.2125;
        color: #000000;
        font-family: Inter, 'Source Sans Pro';
      }
    }
    .auto-group-kvwa-TTn {
      margin-top: 0.8rem;
      align-items: center;
      display: flex;
      flex-direction: column;
      flex-shrink: 0;

      .usercicrle-bK6 {
        flex-shrink: 0;
        margin: 0rem 0.01rem 1.333rem 0rem;
        width: 3.0913rem;
        height: 3.1667rem;
        position: relative;
        object-fit: contain;
        vertical-align: top;
      }
      .profile-g5e {
        align-items: center;
        margin-left: 0.0016rem;
        display: flex;
        font-weight: 400;
        line-height: 1.2125;
        color: #000000;
        font-family: Inter, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        justify-content: center;
        font-size: 1rem;
      }
    }
  }
}
